:root {
	/* Elements spacing. */
	--space-m: 14px;
	--space-xs: calc(var(--space-m) * 0.25);
	--space-s: calc(var(--space-m) * 0.5);
	--space-l: calc(var(--space-m) * 1.5);
	--space-xl: calc(var(--space-m) * 2.5);
}
