<form
	class="auth-form"
	[formGroup]="form"
	(ngSubmit)="onSubmit()"
>
	<header>
		<h1 class="auth-form__heading">Confirm Password Reset</h1>
	</header>

	<saanboc-label
		class="auth-form__label"
		labelText="New Password"
	>
		<input
			autocomplete="new-password"
			formControlName="password"
			placeholder="••••••••"
			data-testid="confirm-reset-password-password-input"
			type="password"
		/>
	</saanboc-label>

	<saanboc-label
		class="auth-form__label"
		labelText="Confirm New Password"
	>
		<input
			autocomplete="new-password"
			formControlName="passwordConfirmation"
			placeholder="••••••••"
			data-testid="confirm-reset-password-password-confirmation-input"
			type="password"
		/>
	</saanboc-label>

	<footer class="auth-form__footer">
		<div class="auth-form__links">
			<a [routerLink]="authChildPaths.login.url">Login</a>
		</div>

		<button
			class="primary auth-form__submit-button"
			type="submit"
			data-testid="confirm-reset-password-submit-button"
			[saanbocLoading]="isLoading$ | async"
		>
			Confirm New Password
		</button>
	</footer>
</form>
